* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Karla;
}

header {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

main {
  padding: 36px;
}

.form {
  display: grid;
  grid-template: 50px 50px / 1fr 1fr;
  gap: 17px;
  margin: 10px;
}


.form--input, .form--button{
  font-family: Karla;
  font-size: 1.2rem;
  border-radius: 5px;
}

.form--input{
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
}